<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="resources/bootstrap/css/font-awesome.css">
    <link rel="stylesheet" href="resources/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="styles.css">
    <script src="resources/bootstrap/js/bootstrap.bundle.js" async></script>
    <title>ICTER Guru LLC.</title>
</head>
<body>

    <!-- Main Navigatio Bar -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
        <div class="container-fluid">
            <a href="#" class="navbar-brand monoton-font">ICTER <span class="text-warning">Guru</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#restaurant-navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="restaurant-navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item px-3">
                        <a href="#" class="nav-link">Home</a>
                    </li>
                        <li class="nav-item px-3">
                        <a href="#Books" class="nav-link">Books</a>
                    </li>
                   
                    <li class="nav-item px-3">
                        <a href="#Journals" class="nav-link">Journals</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#Tutorials" class="nav-link">Tutorials</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#Tutors" class="nav-link">Tutors</a>
                    </li>
        
                    <li class="nav-item px-3">
                        <a href="#Subscribe" class="nav-link">Subscribe</a>
                    </li>
                    <li class="nav-item px-3">
                        <a href="#Subscribers" class="nav-link">Subscribers</a>
                    </li>
                    
                    <li class="nav-item px-3">
                        <a href="#Contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Slider -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
        </div>

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="resources/media/img/ChannelSlider1.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider2.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider3.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider4.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider5.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider6.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider7.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="resources/media/img/ChannelSlider8.jpg" class="d-block w-100" alt="...">
            </div>
            
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Tutorials -->
    <div class="Tutorials p-5" id="Tutorials">
        <div class="container">
            <div class="grid">
                <div class="row mt-5">

                    <div class="col-md-4 text-center">
                        <img src="resources/media/img/ICTERGuruLogo.jpg" class="d-block w-100" alt="...">
                        <p class="h2 dance-font fw-bold my-2">ICTER Guru Online Forum</p>
                        <a href="https://www.youtube.com/c/ICTERGuru/playlists"> ICTER Guru</a>                        
                    </div>

                    <div class="col-md-4 text-center">
                        <img src="resources/media/img/CSITEdExpertsLogo1.jpg" class="d-block w-100" alt="...">
                        <p class="h2 dance-font fw-bold my-2">CSITEd Experts</p>
                        <a href="https://www.youtube.com/c/CSITEdExperts/playlists"> CSITEd Experts</a>                        
                    </div>
                    <div class="col-md-4 text-center">
                        <img src="resources/media/img/MALogo1.jpg" class="d-block w-100" alt="...">
                        <p class="h2 dance-font fw-bold my-2">Mokter Academy</p>
                        <a href="https://www.youtube.com/channel/UCyffTMF44hHMsDvFa0ZR_YA/playlists"> Mokter Academy</a>                        
                    </div>

                </div>
            </div>
        </div>
    </div>

  
  <!-- Journals Section -->
  <section class="journals">

    <div class="journal-1 bg-dark p-5" id="journals">
        <div class="container">
            <div class="grid">
                <div class="row text-white align-items-center mt-5">
                    <div class="col-md-12">
                        <p class="h2 dance-font fw-bold">ICTER Guru Journal of <span class="text-warning">Humanities and Social Science</span></p>
                        <p class="lead fst-italic">The ICTER Guru Journal of Humanities and Social Science (JHSS) is a peer-reviewed open-access journal that publishes the full text of original research manuscripts, review articles, case studies, and so on. The publications frequency of the journal is quarterly (March, June, September, and December). The journal aims at improving the efforts of researchers and scholars to accomplish goals and objectives by using available resources, efficiently and effectively. The journal will be published in both online and print versions.

                            ICTER Guru Journal Template
                            
                            Considered subject areas include:
                            
                            Anthropology
                            Communication studies
                            Corporate governance
                            Criminology
                            Cross-cultural Studies
                            Demography
                            Development studies
                            Economics
                            Ethics
                            Geography
                            History
                            Human Factor
                            Human Rights
                            Human Right Law
                            Human Resource Development
                            Human Studies
                            Industrial Relations
                            Information Sciences
                            Law
                            Library Science
                            Media Studies
                            Philosophy
                            Political Science
                            Population Studies
                            Psychology
                            Public administration
                            Sociology
                            Social Welfare
                            Performing arts (music, theatre & dance)
                            Religious studies
                            Visual arts
                            Women Studies
                            and relative topics in early findings and case studies on fundamental and applied aspects of educational and management science.
                            ICTER Guru publishes original papers, review papers, conceptual frameworks, analytical and simulation models, case studies, empirical research, technical notes, and book reviews.
                            
                            ICTER Guru is inviting papers for the upcoming issue of the journal.
                            
                            Please upload your manuscript here or send it to icterguru@gmail.com
                            
                            Thank you.</p>
                    </div>
               
                </div>
            </div>
        </div>
    </div>

   
    <!-- Books -->
    <section class="Tutors p-5" id="Books">
        <div class="container">
            <div class="grid">
                <div class="row mt-5">
                    <div class="col-md-3">
                        <div class="card shadow-lg my-2">
                            <img src="resources/media/img/MHBook1.jpg" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="h4 card-title fw-bold">C Programming</p>
                                <p class="dance-font text-muted">Dr. Mokter Hossain</p>
                                <p class="fst-italic">
                                    Programming in C: Basic to Advanced
Author: Hossain, Md Mokter.
Year of Publication: 2002
Publisher: Systech Publications, Dhaka, Bangladesh.
Number of Pages: 812, Full DD Size
Main Features: More than 500 complete programs with output;
Language: Programs and outputs are in English, instructions are in Bengali
URL: http://www.systechpublications.com/product.php?page=15&pageOffset=3

                                </p>
                                <div class="d-flex justify-content-around">
                                    <i class="fab fa-facebook text-primary fa-2x"></i>
                                    <i class="fab fa-twitter text-info fa-2x"></i>
                                    <i class="fab fa-youtube text-danger fa-2x"></i>
                                    <i class="fab fa-instagram text-warning fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow-lg my-2">
                            <img src="resources/media/img/MHBook2.jpg" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="h4 card-title fw-bold">C/C++ and Object-Oriented Programming</p>
                                <p class="dance-font text-muted">Dr. Mokter Hossain & Dr. Lutfor Rahman</p>
                                <p class="fst-italic">C/C++ and Object Oriented Programming
                                    Authors: Dr. Mokter Hossain & Dr. Lutfor Rahman
                                    Year of Publication: 2000
                                    Publisher: Systech Publications, Dhaka, Bangladesh.
                                    Number of Pages: 600+, Full DD Size
                                    Main Features: More than 500 complete programs with output;
                                    Language: Programs and outputs are in English, instructions are in Bengali
                                    URL: http://www.systechpublications.com/product.php?page=5&pageOffset=3</p>
                                <div class="d-flex justify-content-around">
                                    <i class="fab fa-facebook text-primary fa-2x"></i>
                                    <i class="fab fa-twitter text-info fa-2x"></i>
                                    <i class="fab fa-youtube text-danger fa-2x"></i>
                                    <i class="fab fa-instagram text-warning fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow-lg my-2">
                            <img src="resources/media/img/MHBook3.jpg" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="h4 card-title fw-bold">Java Programming</p>
                                <p class="dance-font text-muted">Dr. Mokter Hossain & Dr. Lutfor Rahman</p>
                                <p class="fst-italic">JAVA Programming
                                    Authors: Dr. Mokter Hossain & Dr. Lutfor Rahman
                                    Year of Publication: 2001
                                    Publisher: Systech Publications, Dhaka, Bangladesh.
                                    Number of Pages: 712, Full DD Size
                                    Main Features: More than 500 complete programs with output;
                                    Language: Programs and outputs are in English, instructions are in Bengali
                                    URL: http://www.systechpublications.com/product.php?page=8&pageOffset=3</p>
                                <div class="d-flex justify-content-around">
                                    <i class="fab fa-facebook text-primary fa-2x"></i>
                                    <i class="fab fa-twitter text-info fa-2x"></i>
                                    <i class="fab fa-youtube text-danger fa-2x"></i>
                                    <i class="fab fa-instagram text-warning fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card shadow-lg my-2">
                            <img src="resources/media/img/MHBook4.jpg" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="h4 card-title fw-bold">Data Structures and Algorithms</p>
                                <p class="dance-font text-muted">Dr. Mokter Hossain, Masud Karim, & Moynul Haque</p>
                                <p class="fst-italic">Data Structures and Algorithms
                                    Authors: Dr. Mokter Hossain, Masud Karim, & Moynul Haque
                                    Year of Publication: 2006
                                    Publisher: Systech Publications, Dhaka, Bangladesh.
                                    Number of Pages: 310, Full DD Size
                                    Main Features: More than hundred complete programs with output;
                                    Language: Programs and outputs are in English, instructions are in Bengali
                                    URL: http://www.systechpublications.com/product.php?page=22&pageOffset=3</p>
                                <div class="d-flex justify-content-around">
                                    <i class="fab fa-facebook text-primary fa-2x"></i>
                                    <i class="fab fa-twitter text-info fa-2x"></i>
                                    <i class="fab fa-youtube text-danger fa-2x"></i>
                                    <i class="fab fa-instagram text-warning fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card shadow-lg my-2">
                            <img src="resources/media/img/MHBook5.jpg" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="h4 card-title fw-bold">Sobar Janno Computer Shikkha</p>
                                <p class="dance-font text-muted">Dr. Mokter Hossain</p>
                                <p class="fst-italic">Sobar Janno Computer Shikkha
                                    Author: Dr. Mokter Hossain
                                    Year of Publication: 2002
                                    Publisher: Systech Publications, Dhaka, Bangladesh.
                                    Number of Pages: 412, Full DD Size
                                    Main Features: Easy instructions with more than hundred pictures
                                    Language: Bengali and English
                                    URL: http://www.systechpublications.com/product.php?page=10&pageOffset=3</p>
                                <div class="d-flex justify-content-around">
                                    <i class="fab fa-facebook text-primary fa-2x"></i>
                                    <i class="fab fa-twitter text-info fa-2x"></i>
                                    <i class="fab fa-youtube text-danger fa-2x"></i>
                                    <i class="fab fa-instagram text-warning fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card shadow-lg my-2">
                            <img src="resources/media/img/MHBook6.jpg" alt="" class="img-fluid">
                            <div class="card-body">
                                <p class="h4 card-title fw-bold"> Computer Knowledge</p>
                                <p class="dance-font text-muted">Dr. Mokter Hossain</p>
                                <p class="fst-italic">
                                    Computer Knowledge
Author: Dr. Mokter Hossain
Year of Publication: 2002
Publisher: Systech Publications, Dhaka, Bangladesh.
Number of Pages: 212, Small Size
Main Features: Brief answers of more than 500 computer problems and
instructions with more than hundred pictures
Language: Bengali and English
URL: http://www.systechpublications.com/product.php?page=10&pageOffset=3
                                </p>
                                <div class="d-flex justify-content-around">
                                    <i class="fab fa-facebook text-primary fa-2x"></i>
                                    <i class="fab fa-twitter text-info fa-2x"></i>
                                    <i class="fab fa-youtube text-danger fa-2x"></i>
                                    <i class="fab fa-instagram text-warning fa-2x"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-dark text-white p-5" id="contact">
        <div class="container">
            <div class="grid">
                <div class="row align-items-center mt-5">
                    <div class="col-md-4">
                        <p>Copyright © 2022</p>
                        <small class="dance-font">ICTER Guru LLC. <br>
                            Atlanta, GA-30360, United States<br>
                            Email: icterguru@gmail.com</small>
                    </div>
                    <div class="col-md-4 offset-md-4">
                        <form>
                            <div class="mb-2">
                                <input type="text" class="form-control" placeholder="Your Name">
                            </div>
                            <div class="mb-2">
                                <input type="email" class="form-control" placeholder="Your Email">
                            </div>
                            <div class="mb-2">
                                <input type="number" class="form-control" placeholder="Your Mobile">
                            </div>
                            <div class="mb-2">
                                <textarea rows="3" class="form-control" placeholder="Your Text"></textarea>
                            </div>
                            <div class="mb-2">
                                <input type="submit" class="btn btn-warning" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>
</html>